body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

.menu {
  background: #020617;
  padding: 15px;
}

.menu a {
  color: #38bdf8;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.box {
  background: #020617;
  margin: 20px auto;
  padding: 15px;
  width: 60%;
  border-radius: 10px;
}
